/* Обнуление */
 
html {
  box-sizing: border-box;
 }
 *, *::before, *::after {
  box-sizing: inherit;
 }
 img {
  display: block;
 }
 h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;
 }
 body {
  margin: 0;
  padding: 0;
 }
 
 /* Переменные с цветами */
 
 :root {
  --accent-color: #B45F4D;
  --gray-color: #F6F4EC;
  --white-color: #ffffff;
 }
 
 /* Стили для текста */
 
 body {
  font-family: 'RobotoMRegular';
 }
 
 /* Контэйнер */
 
 .container {
  max-width: 1303px;
  margin: 0 auto;
 }