/* Обнуление */
 
html {
  box-sizing: border-box;
 }
 *, *::before, *::after {
  box-sizing: inherit;
 }
 img {
  display: block;
 }
 h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;
 }
 body {
  margin: 0;
  padding: 0;
 }
 
 /* Переменные с цветами */
 
 :root {
  --accent-color: #B45F4D;
  --gray-color: #F6F4EC;
  --white-color: #ffffff;
 }
 
 /* Стили для текста */
 
 body {
  font-family: 'RobotoMRegular';
 }
 
 /* Контэйнер */
 
 .container {
  max-width: 1303px;
  margin: 0 auto;
 }

 /* Header */

.header__offer {
  background-color: var(--accent-color);
}
.header__offer_link {
  padding-top: 16px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 17px;
  color: #F1D3B9;
  padding-bottom: 11px;
}
.header__offer_link:hover {
  color: var(--white-color);
}
.header__navmenu {
  padding-top: 5px;
  background-color: var(--gray-color);
  
}
.header__navmenu_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu_inner {
  display: flex;
  list-style: none;
}
.header__menu_item {
  margin-right: 32px;
}
.header__menu_item a {
  color: var(--accent-color);
  font-size: 18px;
  text-decoration: none;
}
.header__menu_item a:hover {
  color: #A9AE8D;
}
.header__navmenu_logo {
  margin-right: 269px;
  margin-bottom: 10px;
}
.header__shopping_cart {
  display: flex;
  align-items: center;
}
.header__shopping_cart-link {
  font-family: 'RobotoMRegular';
  font-size: 14px;
  color: var(--accent-color);
  text-decoration: none;  
  margin-right: 20.25px;
}
.header__shopping_cart-link:hover {
  color: #A9AE8D;
}
.header__shopping_cart-icon {
  margin-right: 5.25px;
}
.header__shopping_cart-number {
  font-family: 'RobotoMRegular';
  font-size: 15px;
  color: var(--accent-color);
  text-decoration: none;
}
.header__firstscreen {
  background-image: url(../img/firstscreen_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 331px;
  padding-bottom: 55px;
}
.header__btn {
  width: 128px;
  height: 48px;
  background-color: var(--accent-color);
  display: block;
  margin: 0 auto;
  border: none;
  font-size: 17px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.header__content {
  padding-top: 75px;
  color: var(--gray-color);
  background-color: #A9AE8D;
  padding-bottom: 72px;
}
.header__content_text {  
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.header__content_title {
  font-size: 33px;
  margin-bottom: 50px;
}
.header__content-link {
  color: var(--gray-color);
  text-transform: capitalize;
  text-decoration: none;
  font-size: 16px;
}
.header__content-link:hover {
  color: var(--accent-color);
}

/* Price */

.price {
  background-color: var(--gray-color);
}
.price__title {
  padding-top: 45px;
  font-size: 23px;
  color: var(--accent-color);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 52px;
}
.price__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  padding-bottom: 86px;
}
.price__card_img {
  margin-bottom: 13px;
}
.price__card_title {
  font-size: 18px;
  color: var(--accent-color);
  text-transform: uppercase;
  margin-bottom: 8px; 
}
.price__card_price {
  font-size: 16px;
  color: var(--accent-color);
}

/* Banner */

.banner {
  
}
.banner__position {
  padding-top: 22px;
  padding-bottom: 50px;
  margin: 0 auto;
  position: relative;

}
.banner__bg {
  margin: 1px auto;
  z-index: 1;
 
}
.banner__content {
  width: 1220px;
  background-color: #DF9B7A;
  padding: 35px 30px;
  position: absolute;
  z-index: 2;
  bottom: 50px;    
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.banner__content_text {
  font-size: 20px;
  color: var(--white-color);
  text-transform: uppercase;
}
.banner__content_link {
  font-size: 18px;
  color: var(--white-color);
  text-transform: capitalize;
  text-decoration: none;
}

/* About */

.about {
  background-color: #F1D3B9;
  padding-top: 61px;
  padding-bottom: 61px;
}
.about__position {  
  padding-left: 113px;
  position: relative;
}
.about__ava {
  z-index: 1;
}
.about__content {  
  z-index: 2;
  position: absolute;
  padding: 50px 50px 52px;
  top: 224px;
  left: 53.5%;
  width: 518px;
  color: var(--accent-color);
  background-color: #F8F8F8;
  padding-top: 61px;
}
.about__content_title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 35px;
}
.about__content_text {
  max-width: 416px;
  font-size: 19px;
  line-height: 30.4px;
  margin-bottom: 45px;
}
.about__content_link {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 16px;
}

/* Slider */

.slider {
  padding-top: 30px;
  padding-bottom: 5px;
}
.slider__title {
  text-transform: capitalize;
  text-align: center;
  font-size: 23px;
  margin-bottom: 53px;
}
.slider__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 9.5px;
}
.slider__card_img {
}

/* Footer */

.footer {
  background-color: var(--gray-color);
  padding-bottom: 60px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  padding-top: 67px;
}
.footer__links {
  display: flex;
  margin-bottom: 130px;
}
.footer__links_ul-1 {
  margin-right: 112px;
  list-style: none;
}
.footer__links_li a {
  text-decoration: none;
  line-height: 19.6px;
  font-size: 14px;
  color: var(--accent-color);
}
.footer__links_li {
  margin-bottom: 12px;
}
.footer__links_ul-2 {
  list-style: none;
}
.footer__adress {
  margin-right: 97px;

}
.footer__adress_title {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 27px;
}
.footer__adress_text {
  font-size: 14px;
  color: var(--accent-color);
  margin-bottom: 6px;
}
.footer__adress_text:last-child {
  margin-bottom: 0;
}
.footer__copywriter {
  font-size: 14px;
  color: var(--accent-color);
}

@media screen and (max-width: 1439px) {
  .header__navmenu_flex {
    justify-content: space-around;
  }
  .price__grid {
    justify-items: center;
    gap: 0px;
  }
  .slider__grid {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 1350px) {
  .container {
    max-width: 1150px;
  }
  .price__card_img {
    height: 300px;
  }
  .banner__position {
    padding-bottom: 22px;
  }
  .banner__bg {
    width: 800px;
  }
  .banner__content {
    width: 800px;
    padding: 18px 30px; 
    bottom: 23px;   
  }
}

@media screen and (max-width: 1210px) {
  .container {
    max-width: 1010px;
  }
  .price__card_img {
    height: 300px;
  }
  .about__position {
    padding-left: 0;
  }  
  .about__ava {
    margin: 0 auto 40px;
    height: 500px;
  }
  .about__content {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .about__content_title {
    font-size: 19px;
    margin-bottom: 25px;
  }
  .about__content_text {
    font-size: 14px;
    line-height: 21.4px;
    margin-bottom: 21px;
  }
  .about__content_link {
    font-size: 14px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    max-width: 850px;
  }
  .header__navmenu_flex  {
    justify-content: space-between;
  }
  .header__navmenu_logo {
    margin-right: 0;
  }
  .header__menu_inner {
    display: none;
  }
  .header__shopping_cart {
    display: none;
  }
  .header__burger {
    padding: 6px;
    background-color: #A9AE8D;
    width: 42px;
    border-radius: 4px;
  }
  .header__burger_line {
    height: 5px;
    background-color: var(--accent-color);
    margin-bottom: 4px;
    border-radius: 4px;
  }
  .header__burger_line:last-child {
    margin-bottom: 0;
  }
  .header__firstscreen {
    padding-top: 147px;
}
  .header__content {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .header__content_text {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
  }
  .header__content_title {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
  }
  .header__content-link {
    display: block;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
  }  
  .price__title {
    padding-top: 25px;
    font-size: 19px;
    margin-bottom: 35px;
  }
  .price__grid {
    padding-bottom: 15px;
  }
  .price__card_title {
    font-size: 14px;
  }
  .price__card_price {
    font-size: 13px;
  }
  .slider {
    padding-top: 20px;
  }
  .slider__title {
    font-size: 17px;
    margin-bottom: 22px;
  }
  .footer {
    padding-bottom: 30px;
  }
  .footer__flex {
    flex-direction: column;
    align-items: center;
  }
  .footer__links {
    margin-bottom: 20px;
  }
  .footer__links_ul-1 {
    margin-right: 200px;
  }
  .footer__adress {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .footer__adress_title {
    font-size: 12px;
    margin-bottom: 17px;
  }
  .footer__adress_text {
    font-size: 13px;
    text-align: center;
  }
  .footer__copywriter {
    font-size: 13px;
    text-align: center;
  }
}

@media screen and (max-width: 890px) {
  .container {
    max-width: 690px;
  }
  .banner__bg {
    width: 490px;
  }
  .banner__content {
    width: 490px;
    padding: 5px;
    flex-direction: column;
  }
  .banner__content_text {
    font-size: 15px;
    text-align: center;
  } 
  .banner__content_link {
    font-size: 13px;
    text-align: center;
  }
}
@media screen and (max-width: 790px) {
  .container {
    max-width: 590px;
  }
  .price__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .slider__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 630px) {
  .container {
    max-width: 430px;
  }
  .banner__bg {
    width: 400px;
  } 
  .banner__content {
    width: 400px;
  }
  .banner__content_text {
    font-size: 12px;
  }
  .banner__content_link {
    font-size: 9px;
  }
  .about__content {
    padding: 15px;
    width: 333px;
  }  
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 340px;
  }
  .price__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner__position {
    padding-bottom: 55px;
  }
  .banner__bg {
    width: 200px;
  } 
  .banner__content {
    width: 200px;
    bottom: 15px;
  }
  .banner__content_text {
    font-size: 9px;
  }
  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about__ava {
    margin: 0 auto 20px;
    height: 260px;
  }
  .about__content {
    width: 260px;
  }
  .about__content_title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .about__content_text {
    font-size: 8px;
    line-height: 14px;
    margin-bottom: 15px;
  }
  .slider__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__links_ul-1 {
    margin-right: 70px;
  }
  .footer__adress_title {
    font-size: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 390px) {
  .container {
    max-width: 290px;
  }





