/* Обнуление */
 
html {
  box-sizing: border-box;
 }
 *, *::before, *::after {
  box-sizing: inherit;
 }
 img {
  display: block;
 }
 h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;
 }
 body {
  margin: 0;
  padding: 0;
 }
 
 /* Переменные с цветами */
 
 :root {
  --accent-color: #B45F4D;
  --gray-color: #F6F4EC;
  --white-color: #ffffff;
 }
 
 /* Стили для текста */
 
 body {
  font-family: 'RobotoMRegular';
 }
 
 /* Контэйнер */
 
 .container {
  max-width: 1303px;
  margin: 0 auto;
 }

 /* Header */

.header__offer {
  background-color: var(--accent-color);
}
.header__offer_link {
  padding-top: 16px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 17px;
  color: #F1D3B9;
  padding-bottom: 11px;
}
.header__offer_link:hover {
  color: var(--white-color);
}
.header__navmenu {
  padding-top: 5px;
  background-color: var(--gray-color);
  
}
.header__navmenu_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu_inner {
  display: flex;
  list-style: none;
}
.header__menu_item {
  margin-right: 32px;
}
.header__menu_item a {
  color: var(--accent-color);
  font-size: 18px;
  text-decoration: none;
}
.header__menu_item a:hover {
  color: #A9AE8D;
}
.header__navmenu_logo {
  margin-right: 269px;
  margin-bottom: 10px;
}
.header__shopping_cart {
  display: flex;
  align-items: center;
}
.header__shopping_cart-link {
  font-family: 'RobotoMRegular';
  font-size: 14px;
  color: var(--accent-color);
  text-decoration: none;  
  margin-right: 20.25px;
}
.header__shopping_cart-link:hover {
  color: #A9AE8D;
}
.header__shopping_cart-icon {
  margin-right: 5.25px;
}
.header__shopping_cart-number {
  font-family: 'RobotoMRegular';
  font-size: 15px;
  color: var(--accent-color);
  text-decoration: none;
}
.header__firstscreen {
  background-image: url(../img/firstscreen_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 331px;
  padding-bottom: 55px;
}
.header__btn {
  width: 128px;
  height: 48px;
  background-color: var(--accent-color);
  display: block;
  margin: 0 auto;
  border: none;
  font-size: 17px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.header__content {
  padding-top: 75px;
  color: var(--gray-color);
  background-color: #A9AE8D;
  padding-bottom: 72px;
}
.header__content_text {  
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.header__content_title {
  font-size: 33px;
  margin-bottom: 50px;
}
.header__content-link {
  color: var(--gray-color);
  text-transform: capitalize;
  text-decoration: none;
  font-size: 16px;
}
.header__content-link:hover {
  color: var(--accent-color);
}

/* Price */

.price {
  background-color: var(--gray-color);
}
.price__title {
  padding-top: 45px;
  font-size: 23px;
  color: var(--accent-color);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 52px;
}
.price__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  padding-bottom: 86px;
}
.price__card_img {
  margin-bottom: 13px;
}
.price__card_title {
  font-size: 18px;
  color: var(--accent-color);
  text-transform: uppercase;
  margin-bottom: 8px; 
}
.price__card_price {
  font-size: 16px;
  color: var(--accent-color);
}

/* Banner */

.banner {
  
}
.banner__position {
  padding-top: 22px;
  padding-bottom: 50px;
  margin: 0 auto;
  position: relative;

}
.banner__bg {
  margin: 1px auto;
  z-index: 1;
 
}
.banner__content {
  width: 1220px;
  background-color: #DF9B7A;
  padding: 35px 30px;
  position: absolute;
  z-index: 2;
  bottom: 50px;    
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.banner__content_text {
  font-size: 20px;
  color: var(--white-color);
  text-transform: uppercase;
}
.banner__content_link {
  font-size: 18px;
  color: var(--white-color);
  text-transform: capitalize;
  text-decoration: none;
}

/* About */

.about {
  background-color: #F1D3B9;
  padding-top: 61px;
  padding-bottom: 61px;
}
.about__position {  
  padding-left: 113px;
  position: relative;
}
.about__ava {
  z-index: 1;
}
.about__content {  
  z-index: 2;
  position: absolute;
  padding: 50px 50px 52px;
  top: 224px;
  left: 53.5%;
  width: 518px;
  color: var(--accent-color);
  background-color: #F8F8F8;
  padding-top: 61px;
}
.about__content_title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 35px;
}
.about__content_text {
  max-width: 416px;
  font-size: 19px;
  line-height: 30.4px;
  margin-bottom: 45px;
}
.about__content_link {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 16px;
}

/* Slider */

.slider {
  padding-top: 30px;
}
.slider__title {
  text-transform: capitalize;
  text-align: center;
  font-size: 23px;
  margin-bottom: 53px;
}
.slider__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 9.5px;
}
.slider__card_img {
}





